{% extends 'home.html' %}
{% load static %}

{% block contenido %}
  <h2 style="text-align: center; margin-bottom: 20px;">Buscar Animal</h2> <!-- Título centrado -->
  <div style="display: flex; justify-content: space-between; align-items: center; gap: 20px;">
    <!-- Formulario de búsqueda -->
    <form method="GET" action="{% url 'buscar' %}" style="flex-grow: 1;">
      <label for="busqueda" style="display: block; margin-bottom: 8px;">Ingrese el ID o código del animal:</label>
      <input type="text" name="busqueda" id="busqueda" placeholder="ID o código del animal" required style="width: 100%; padding: 3px;">
      <button type="submit" class="btn btn-success" style="margin-top: 10px;">Buscar</button>
    </form>

    <!-- Imagen al costado -->
    <img src="{% static 'core/assets/gato.png' %}" alt="Gato" height="500" width="400" style="display:block; margin-left:auto; margin-right:0;" />
  </div>
{% endblock %}




