
{% extends 'home.html' %}
{% load static %}

{% block contenido %}
   <div class="container">
      <div class="row justify-content-center">
         <div class="col-md-8">
            <h2>Funcionalidades clave:</h2>
            <ul>
               <li>Registro de ingreso: Registra la información básica de cada animal que llega al refugio, incluyendo especie, raza, edad, sexo, estado de salud y cualquier otra característica relevante.</li>
               <li>Seguimiento médico: Registra los tratamientos médicos, vacunaciones, cirugías y cualquier otra atención veterinaria que reciba cada animal durante su estadía en el refugio.</li>
               <li>Estado y ubicación: Mantén actualizada la ubicación de cada animal dentro del refugio, ya sea en cuarentena, en área de adopción, en proceso de esterilización, etc.</li>
               <li>Historial de adopción: Registra la información de las adopciones realizadas, incluyendo la fecha de adopción, los datos del nuevo propietario y el seguimiento post-adopción.</li>
               <li>Notificaciones y alertas: Recibe notificaciones sobre animales que requieran atención médica urgente, adopciones pendientes o cualquier otra situación relevante.</li>
            </ul>
            <h2>Beneficios del sistema:</h2>
            <ul>
               <li>Facilita la gestión y el seguimiento de cada animal de manera individualizada.</li>
               <li>Permite una atención más eficiente y personalizada para cada necesidad.</li>
               <li>Contribuye a la transparencia y la trazabilidad de los procesos en el refugio.</li>
               <li>Ayuda a garantizar el bienestar de los animales durante su estadía en el refugio.</li>
            </ul>
         </div>
      </div>
   </div>
{% endblock contenido %}