{% extends 'home.html' %}

{% block contenido %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><center>Ingresar Datos del Animal</center></h5>
                    <form method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="id_tipo_animal" class="form-label">Selecciona el tipo de animal</label>
                            {{ animal_form.tipo_animal }}
                        </div>
                        
                        <div class="mb-3">
                            <label for="id_sexo" class="form-label">Sexo</label>
                            {{ animal_form.sexo }}
                        </div>
                        <div class="mb-3">
                            <label for="id_edad" class="form-label">Edad</label>
                            {{ animal_form.edad }}
                        </div>
                        <div class="mb-3">
                            <label for="id_descripcion" class="form-label">Descripción</label>
                            {{ animal_form.descripcion }}
                        </div>
                        <div class="mb-3">
                            <label for="id_estado_salud" class="form-label">Estado de Salud</label>
                            {{ animal_form.estado_salud }}
                        </div>

                        <button type="submit" class="btn btn-success">Guardar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
